*{
	margin:0;
	padding:0;
}
body{
	background-image:url("image.jpg");
	

}
div.main{
	width:400px;
	margin:100px auto 0px auto;
}
h1{
	text-align:center;
	padding:20px;
	font-family:sens-serif;
}
div.register{
	background-color:rgba(0,0,0,0.5);
	width:100%;
	font-size:18px;
	border-radius:10px;
	border:1px soid rgba(255,255,255,0.3);
	box-shadow:2px 2px 15px rgba(0,0,0,0.3);
	color:#fff;
}
form#register{
	margin:40px;
}
label{
	font-family:sens-serif;
	font-size:18px;
	
}
input{
	
	border:1px solid #addd;
	border-radius:3px;
	outline:o;

	background-color:#fff;
	
}
input #submit{
	width:200px;
	padding:7px;
	
}